:root {

  font-family: 'Roboto', Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

.logo-filter {
  @apply brightness-0 invert opacity-80 hover:opacity-100 transition-opacity;
}